.main{
    text-align: center;
}

.nbtn{
    border-style: solid;
    text-align: center;
    width: 70%;
}

#board{
    contain: content;
    width:500px;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 1;
}

.player_position{
    position: fixed !important;
    border-radius:50%;
    width: 30px;
    height: 30px;
    z-index: 2;
    /* background-color: white; */
}

#ball{
    position: fixed;
    width: 15px;
    height: 15px;
    z-index: 10;
}

.shad{
    box-shadow: 0 0 11px rgb(45, 198,8); 
}