{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" ></script>
<style>
.title{
    font-weight:50px;
    font-size:70px;
    position:relative;
    top:70px;
    left:370px;
    color:white;
}

.mainPic{
    width: 600px;
    height: 400px;
    transform:rotate(-22deg);
    position:relative;
    top:140px;
    left:-50px;
}
.learnBtn{
    background-color: #0066FF;
    width:160px;
    height:50px;
    position:relative;
    top: 350px;
    left:270px;
}
.quizBtn{
    background-color: #BBBB00;
    width:160px;
    height:50px;
    position:relative;
    top: 450px;
    left:105px;
}
</style>
<script>

</script>
<div class = "container"></div>
<body background="../static/pic/background.png">
<h class = "title">Basketball Tactics</h>


<button class = "learnBtn" onclick="window.location.href = '/learn/1'">Learn</button>
<button class = "quizBtn" onclick="window.location.href = '/quiz/home'">Quiz Yourself</button>

{% endblock %}