{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn_offense.js') }}"></script>
<style>
    .basicTitle{
        font-size:40px;
        font-weight:30px;
    }
    .basicPicture{
        width:500px;
        height:300px;
    }
    .nextBtn{
        width:160px;
        height:50px;
        position:relative;
        left:750px;
        top:50px;
        background-color: white;
    }
    .backBtn{
        width:160px;
        height:50px;
        position:relative;
        left:50px;
        top:50px;
        background-color: white;
    }

</style>
<script>
    let tactic = {{tactic|tojson}}

</script>
<div class="container">
    <div id="title" class="h2">{{tactic.title}}</div>
    <div id="description">{{tactic.description}}</div>

    <div class="row">
        <div class="col-md-6" >
            <iframe src='{{tactic.video_link}}' width="560" height="315" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <div id="board"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <button class = "backBtn" onclick="window.location.href = '{{tactic.pre_link}}'">Back</button>
        <button class = "nextBtn" onclick="window.location.href = '{{tactic.next_link}}'">Next</button>
    </div>
</div>

{% endblock %}



