{% extends "layout.html" %}

{% block content %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename = 'quizHome.css') }}">

<script type="text/javascript">
    $(document).ready(function () {
    $("#startQuiz").click(function(){
        window.location.href = "/quiz/1"
    })
    });
</script>
    <div id="container">
        <div>
            <h1>Basketball Tactics</h1>
            <button type="button" class="btn btn-primary" id="startQuiz">Quiz Now!</button>
        </div>

    </div>
{% endblock %}
