
{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quizMC.js') }}"></script>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename = 'quizMC.css') }}">

<script type="text/javascript">
  let question = {{question|tojson}};
  $(document).ready(function () {
    $("#next_btn").click(function(){
        window.location.href = "/quiz/{{question.next_question}}"
    })
  });
</script>

        <div id="question">{{question.quiz_id}}. {{question.question}}</div>
        <div class="row">
            <div class="col-md-8" >
                <iframe src="{{question.link}}" width="560" height="315" allowfullscreen></iframe>
            </div>
            <div class="col-md-4">
                <div id="options"></div>

            </div>
        </div>
        <div id="buttons">
            <button type="button" class="btn btn-primary" onclick="checkAnswer()">Submit</button>
            <button type="button" class="btn btn-primary" id="next_btn">Next</button>
        </div>
{% endblock %}