{% extends "layout.html" %}

{% block content %}

<style>
#result{
    font-size: 30px;
}

</style>
<script type="text/javascript">
    let result = {{d|tojson}}
    console.log(result)
    $(document).ready(function () {
        $('#res').html(result)
        $("#quizbtn").click(function(){
            let newScore = {"score": 0}
            $.ajax({
                type: "POST",
                url: "/reset",
                // dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(newScore),
                success: function(result){
                    console.log(newScore)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                }
            });
            window.location.href = '/quiz/home'
        })
    });

</script>

<div class = "container">
    <div class="row m-5"></div>
    <body background="../static/pic/background.png"></body>
    <h1 class = "text-center text-white display-3 m-5">Basketball Tactics</h1>
    <div id="result" class = "text-center text-white"> Your Score: <span id="res"></span> / 7</div>

    <div class="row m-5 p-3"></div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button type="button" id="homebtn"class="btn btn-primary btn-block mt-5" onclick="window.location.href = '/'">
                <i class="bi bi-house-door"></i>
                Home Page
            </button><br>
            <button type="button" id="quizbtn" class="btn btn-primary mt-1 btn-block">
                <i class="bi bi-arrow-clockwise"></i>
                Try Again
            </button>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
{% endblock %}