{% extends "layout.html" %}

{% block content %}

<!--<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename = 'quizHome.css') }}">-->
<style>
.title{
    font-weight:50px;
    font-size:70px;
    position:relative;
    top:50px;
    left:570px;
}
.mainPic{
    width: 600px;
    height: 400px;
    transform:rotate(-22deg);
    position:relative;
    top:95px;
    left:-50px;
}
.result{
    width: 400px;
    position:relative;
    top: 100px;
    left:600px;
    font-size: 30px;
}

.homebtn{
        width:160px;
        height:50px;
        position:relative;
        left:300px;
        top:150px;
        background-color: white;
}

.quizbtn{
        width:160px;
        height:50px;
        position:relative;
        left:135px;
        top:220px;
        background-color: white;
}

</style>
<script type="text/javascript">
    let result = {{d|tojson}}
    console.log(result)
    $(document).ready(function () {
        $('#res').html(result)
    });
</script>

    <div class = "container"></div>
    <h class = "title">Basketball Tactics</h>
    <div class="result"> Your Score: <span id="res"></span> / 7</div>
    <img class = "mainPic" src = "/static/pic/img.png">
    <button class = "homebtn" onclick="window.location.href = '/'">Home Page</button>
    <button class = "quizbtn" onclick="window.location.href = '/quiz/home'">Try Again</button>


{% endblock %}